@using OnlineTest.Web.Models
@using OnlineTest.Models
@model TestsListViewModel


<div class="container">
    <table id="test-list-table">
        @foreach (Test test in Model.Tests)
            {
            <tr>
                @if (Model.UserScore.ContainsKey(test.Id))
                {
                    <td><button class="btn btn-success btn-lg" disabled>@test.Name</button></td>
                        <td><span>@Model.UserScore[test.Id].Result</span></td>
                }
                else
                {
                    <td>
                        <button class="btn btn-success btn-lg">@test.Name</button>
                    </td>
                }
            </tr>
        }
    </table>
</div>