@using OnlineTest.Web.Models
@using OnlineTest.Models
@model TestsListViewModel


<div class="container">
    <div class="row">
        @foreach (Test test in Model.Tests)
        {
            if (Model.UserScore.ContainsKey(test.Id))
            {
                <div>
                    <button class="btn btn-success btn-lg" disabled>@test.Name</button><span>@Model.UserScore[test.Id].Result</span>
                </div>
            }
            <div>
                <button class="btn btn-success btn-lg">@test.Name</button>
            </div>
        }
    </div>
</div>