@using OnlineTest.Web.Models
@using OnlineTest.Models
@model TestsListViewModel


<div class="container">
    <div class="row">
        @foreach (Test test in Model.Tests)
        {
            <div>
                <a href="#" class="btn btn-success btn-lg">@test.Name</a>
            </div>
            </br>
        }
    </div>
</div>