@using OnlineTest.Web.Models
@model TestStartViewModel

<h1>@Model.Name</h1>
@Html.ActionLink("Start test", "Solve", "Question", new { testId = Model.Id, questionId = 1}, new { @class="btn btn-info"})