@using OnlineTest.Web.Models
@model TestStartViewModel

<h1>@Model.Name</h1>
<button class="btn btn-info" onclick="selectTest(event)">Start test</button>

@section Scripts {
    @Scripts.Render("~/bundles/select")
}