@using OnlineTest.Web.Models
@model TestStartViewModel

<h1>@Model.Name</h1>
<button id="selectTest" data-url="/Question/Solve?testId=@Model.Id&question=@Model.Question" class="btn btn-info">Start test</button>

@section Scripts {
    @Scripts.Render("~/bundles/select")
}